
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text);

body {
  font-family: 'Open Sans', sans-serif;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #f00;
}

a:visited {
  color: #000;
}

.bold {
  font-style: bold;
}

.container {
  width: 960px;
  margin: 120px auto 0 auto;
}

#nav {
  width: 960px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: white;
}

#nav-major {
  font-size: 16px;
}

#nav-minor {
  background-color: #000;
  font-size: 14px;
  text-align: center;
}

#nav-menu {
  font-family: 'Crimson Text', serif;
  font-size: 15px;
  float: right;
}

.nav-list {
  padding: 0;
}

.nav-list li {
  list-style: none outside;
  display: inline-block;
}

#nav-major li {
  padding: 0 13px;
}

#nav-major li:first-child {
  padding-left: 0;
}

#nav-major li:last-child {
  padding-right: 0;
}

#nav-minor li {
  padding: 10px 15px;
}

#nav-minor li a {
  color: #fff;
}

#nav-minor a:hover {
  color: #aaa;
}

#sidebar {
  float: left;
}

#sidebar ul {
  font-family: 'Crimson Text', serif;
  font-size: 17px;
  padding-left: 5px;
}

#sidebar li {
  list-style-type: none;
  margin-bottom: 4px;
}

#sidebar li.disabled a {
  color: #555;
}

#content {
  padding-left: 140px;
}

#content-header {
  font-family: 'Crimson Text', serif;
  font-size: 15px;
  font-style: italic;
}

#elements-count {
  float: left;
}

#sortby {
  float: right;
}

#products {
  padding-top: 60px;
}

.product {
  display: inline-block;
  text-align: center;
  width: 33%;
  margin-bottom: 30px;
}

.product .menu {
  visibility: hidden;
  font-size: 10px;
  padding-bottom: 15px;
  margin: 0 32%;
}

.product .menu .collect {
  float: left;
}

.product .menu .zoom {
  float: right;
}

.product:hover .menu {
  visibility: visible;
}

.product .preview {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  padding-bottom: 10px;
}

.product .name {
  padding-bottom: 7px;
}

.product .price {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  padding-bottom: 7px;
}

#collections-button-wrapper {
  position: fixed;
  width: 960px;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: right;
}

#collections-button {
  padding: 5px;
  background-color: #fff;
}
